<article class="post">
  <div class="title">
     {{post_content}}
  </div>
  <div class="meta">
    
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>